.FormatGuide__codeExample {
  background-color: var(--c-code-bg);
  padding: 20px;
  border-radius: 4px;
  overflow-x: auto;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #e5e7eb;
}
