.App {
  min-height: 100vh;
  padding: 20px;

  @media screen and (max-width: 720px) {
    padding: 0;
  }
}

.App__header {
  text-align: center;
  margin-bottom: 40px;
}

.App__title {
  color: var(--c-text);
  font-size: 32px;
  font-weight: 600;
}

.App__main {
  max-width: 800px;
  margin: 0 auto;
}

.App__guides {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}
