.FileUploader {
  width: 100%;
  max-width: 98%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 2rem 0;
  border-radius: 10px;
  border: 4px dashed var(--c-border);
}

.FileUploader_dragging {
  background-color: rgba(33, 150, 243, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 4px dashed var(--c-text-secondary);
}

.FileUploader__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.FileUploader__option {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.FileUploader__input {
  display: none;
}

.FileUploader__inputLabel {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--c-code-bg);
  color: white;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;

  &:active {
    background-color: #f3f4f6;
    color: var(--c-code-bg);
  }
}

.FileUploader__urlInput {
  //width: 500px;
  width: 98%;
  padding: 12px 12px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 14px;
  color: var(--c-text);

  &::placeholder {
    color: #9ca3af;
  }

  &:focus {
    outline: none;
    border-color: #2196f3;
  }
}

.FileUploader__divider {
  color: #6b7280;
  font-size: 14px;
  margin: 10px 0;
}
